.changePassword {
  background-color: var(--background-muted);
  border-radius: 8px;
  padding: 2rem;
  max-width: 600px;
  width: 90%;
  margin: 2rem auto;
  box-shadow: 0 4px 8px var(--box-shadow-light);
  font-family: 'Arial', sans-serif;
  
  /* Flexbox for centering content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px; /* Ensures a consistent card height */
}

.changePassword h2 {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

.changePassForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%; /* Makes the form span full width */
  max-width: 400px; /* Restricts form width for better alignment */
  text-align: center; /* Centers form labels and inputs */
}

.changePassForm label {
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: start;
}

.changePassForm input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  color: var(--text-color);
  background: var(--login-input);
  border-radius: 50px;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.changePassForm input:focus {
  border-color: var(--input-focus);
  outline: none;
}

.changePassword button {
  background-color: var(--button-primary);
  color: var(--nav-login-color);
  padding: 0.75rem;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.changePassword button:hover {
  background-color: var(--button-primary-hover);
}

.changePassword button:disabled {
  background-color: var(--text-muted);
  cursor: not-allowed;
}

.changePassword .toast-container {
  margin-top: 1rem;
}
